<!doctype html>
<html>
<head>
	<title>Simple node login</title>
		<link rel="stylesheet" href="/css/style.css">
	<style>
		body { padding-top:40px; }
	</style>
</head>
<body>
	<div class="login">
	<form action="/login" method="post">
			<label>Username</label>
			<input type="text" placeholder="Username" name="username" class="input">
			<label>Password</label>
			<input type="password"  placeholder="Password"  name="password" class="input">
		<button type="submit" class="button">Login</button>
		<button type="button" class="button">Cancel</button>
		<a href="/showresult" class="button s">Show Result</a>
	</form>
	</div>
</body>
</html>