<!doctype html>
<html>
<head>
	<title>Result</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
	<p>Matched Result <b><%= matches %></b></p>
	<p>Unmatched Result <b><%= unmatched %></b></p>
<p><a href="/">&larr;go back</a></p>
</div>
</body>
</html>